server_name: "bb_1"

listen: "0.0.0.0:4222"

http_port: 8222

http_base_path: "/nats/dashboard"

jetstream: disabled

#### Account configuration

accounts {

  $SYS: {
    users: [
      { user: "admin", password: "password" }
    ]
  },

  acc1: {
	jetstream: enabled

    users: [
      { user: "acc1", password: "password" }
    ]
  }
}

#### Cluster configuration

cluster {
	name: BB
	listen: "0.0.0.0:4244"
}

#### Gateway configuration

gateway {
	name: BB
	host: 0.0.0.0
	port: 7222
}