server_name: "eu_1"
listen: "0.0.0.0:4222"
http_port: 8222
http_base_path: "/nats/dashboard"
server_tags: ["location:emea", "region:eu-west2", "az:a"]

jetstream: {
  unique_tag: "az:a"
}

#### JetStream configuration

jetstream: {
	max_mem: 2G
	max_memory_store: 2G
	max_file_store: 10G
	store_dir: "./jetstream"
}

#### Account configuration

accounts: {
  $SYS: {
    users: [
      { user: "admin", password: "password" }
    ]
  },

  acc1: {
    jetstream: enabled
    users: [
      { user: "acc1", password: "password" }
    ]
  }
}

#### Cluster configuration

cluster: {
	name: EU
	listen: 0.0.0.0:4244
	routes: [""] # It needs an empty route, else the node won't come up
}

#### Gateway configuration

gateway: {
	name: EU
	listen: "0.0.0.0:7222"
	gateways: [
		{
			name: "BB"
			url: "nats://172.31.41.106:7222"
		}
	]
}