server_name: us_bb_west_01
listen: 0.0.0.0:4223

authorization {
    token: "s3cr3t"
}

jetstream: disabled

cluster {
  name: statelessbackbone
  listen: 0.0.0.0:6223

  authorization {
    user: route_user
    password: Passw0rd
    timeout: 0.5
  }

  routes = [
     nats-route://route_user:Passw0rd@localhost:6222,
     nats-route://route_user:Passw0rd@localhost:6224,
  ]
}

gateway {
    name: statelessbackbone
    listen: 0.0.0.0:7223
    authorization {
        user: gwu
        password: gwp
    }

}

include resolver.conf
